<!DOCTYPE html>
<html>
  <head>
    <title>{{meta_title}}</title>
    {{> meta}}
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700%7CRoboto+Slab:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{asset "css/uno-zen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/default.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/addition.css"}}" />
    {{ghost_head}}
  </head>
  <body class="{{body_class}}">
    <header id="menu-button" class="expanded">
      <a><i class="fa fa-list fa-lg"></i></a>
    </header>
    {{> aside}}
    <main>
      <section id="search-results"></section>
      <section class="content">
        {{{body}}}
        {{> footer}}
      </section>
    </main>
    {{ghost_foot}}
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="{{asset "js/uno-zen.js"}}" type="text/javascript" charset="utf-8"></script>

    <script src="{{asset "js/highlight.min.js"}}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {{> google-analytics}}
  </body>
</html>
